/InstantMessagingRemote_server_with_ddbb/InstantMessagingRemote_server_with_ddbb/build/
/InstantMessagingRemote_server_with_ddbb/InstantMessagingRemote_server_with_ddbb/dist/
/InstantMessagingRemote_server_with_ddbb/InstantMessagingRemote_server_with_ddbb/nbproject/private/
/InstantMessagingRemote_server_with_ddbb/DDBB/build/
/InstantMessagingRemote_server_with_ddbb/DDBB/dist/
/InstantMessagingRemote_server_with_ddbb/DDBB/nbproject/private/
/InstantMessagingRemote_server_with_ddbb/SERVER/build/
/InstantMessagingRemote_server_with_ddbb/SERVER/dist/
/InstantMessagingRemote_server_with_ddbb/SERVER/nbproject/private/
/SERVER/build/
/SERVER/dist/
/SERVER/nbproject/private/
/InstantMessagingRemote_client_with_ddbb_exercise/InstantMessagingRemote_client_with_ddbb_exercise/nbproject/private/
/InstantMessagingRemote_client_with_ddbb_exercise/CLIENT/nbproject/private/
/CLIENT/nbproject/private/
/CLIENT/build/
/CLIENT/dist/